# .gitignore

# 操作系统文件
.DS_Store
Thumbs.db

# Terraform 状态文件和本地配置
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfstate
*.tfstate.backup

# Python 
__pycache__/
*.pyc
venv/
.mypy_cache/
.pytest_cache/

# Cloud Build / GCR files
*.tar.gz